.btn {
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #FF4343;
    width: 370px;
    height: 80px;
}

.btn__item {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn:hover{
    cursor: pointer;
    background-color: #E71414;
}
@media(max-width:1100px) {
    .btn {
        width: 310px;
    height: 75px;
    }
}