.btn {
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #FF4343;
    width: 370px;
    height: 80px;
}

.btn__item {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn__two{
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn:hover {
    cursor: pointer;
    background-color: #E71414;
}

@media(max-width:1024px) {
    .btn {
        width: 282px;
        height: 68px;
    }
    .btn__two {
        font-size: 18px;
    }
}
@media(max-width:320px){
    .btn{
        width: 279px;
    height: 71px;
    }
}