.footer__blue {
    background: #353C65;
    color: var(--color-white);
}
.connection{
    width: 100%;
    display: flex;
    text-align: center;
}
.connection__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.connection__item {
    width: 32%;
    padding: 70px;
}
.connection__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

