.footer__blue {
    background: #353C65;
    color: var(--color-white);
}
.connection{
    width: 100%;
    display: flex;
    text-align: center;
}
.connection__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.connection__item {
    width: 32%;
    padding: 70px;
}
.connection__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}
.footer__dark{
    background-color: #2C3154;
}
.copyright {
    width: 100%;
}
.copyright__about{
    padding: 25px 625px;
}
.copyright__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-silver);
    text-align: center;
}
@media(max-width:1100px) {
    .connection__title{
        font-size: 14px;}

        .connection__text{
            font-size: 14px;
    }
    .connection__title{
        font-size: 14px;
    }
    .connection__title{
        font-size: 14px;
    }
    .connection__text{
        font-size: 14px;
        width: 315px;
    }
    .copyright__text{
        font-size: 14px;
    }
    .copyright__about{
        padding: 17px 347px;
    }
    .connection__item {
        padding: 10px;
    }

