.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works__item {
    width: 399px;
    height: 350px;
    position: relative;
}

.works__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.works__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
}

.works__text {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.works__content {
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.works__item:hover .works__content {
    opacity: 1;
    cursor: pointer;
}

