* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

hr {
    size: 1px solid var(--color-silver);
    width: 85%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.about {
    width: 100%;
    background: url("img/bg.jpg") center/cover no-repeat;
    padding-bottom: 120px;
}

.header {
    margin: 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    height: 100%;
}

.header__nav-list {
    display: flex;
    height: 100%;
    list-style: none;
}

.header__nav-item {
    margin: -21px 37px;
    position: relative;
    line-height: 100px;
    font-size: 13px;
}

.header__nav-link::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    right: 80%;
    height: 2px;
    background-color: silver;
    opacity: 0;
    transition: all 0.5s;
}

.header__nav-link:hover::after {
    opacity: 1;
    right: -20px;
}

.header__nav-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav-link:active {
    color: #FF4343;
}

.header__nav-link:active::after {
    background-color: silver;
}

.about__content {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about__title {
    padding: 25px 170px 0;
    font-size: 64px;
    font-weight: 900;
}

.about__description {
    color: rgba(255, 255, 255, 1);
    padding: 0px 184px;
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
}

.btn {
    border-style: none;
    position: relative;
    top: 50%;
    left: 40%;
    background: #FF4343;
    width: 370px;
    height: 80px;
}

.btn__item {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 116px 0;
    justify-content: center;
}

.features__item {
    text-align: center;
    width: 30%;
    padding: 0 54px;
    margin: 38px 0;
}

.features__title {
    font-weight: 900;
    font-size: 24px;
    background-color: var(--color-silver);
    text-transform: uppercase;
}

.features__text {
    background-color: var(--color-silver);
    font-weight: 400;
    font-size: 18px;
    justify-content: flex-start;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works__item {
    width: 399px;
    height: 350px;
    position: relative;
}

.works__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.works__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
}

.works__text {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.works__content {
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.works__item:hover .works__content {
    opacity: 1;
}

.person__card {
    display: flex;
    margin: 116px 182px;
}

.card__item {
    text-align: left;
    margin: 0 13px;
}

.card__name {
    font-size: 24px;
    font-weight: 700;
    color: #2D3033;
}

.card__content {
    line-height: 1px;
}

.card__title {
    font-size: 18px;
    font-weight: 400;
    background-color: var(--color-coral);
    text-transform: uppercase;
    color: #FF4343;
}

.card__text {
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    color: #6C7279;
}