* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

.menu {
    width: 1300px;
    height: auto;
    margin: 0 auto;
}

.bg {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 547px;
}

.menu__inner {
    margin: 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    word-spacing: inherit;

}

.nav li {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 28px;
    color: #FFFFFF;
}

.text h1 {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text__inner {
    padding: 0 170px;
}

.text__inner p {
    font-weight: 400;
    font-size: 23px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn {
    text-align: center;
}

.btn button {
    background: #FF4343;
    width: 370px;
    height: 80px;
}

.btn>button>a {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 116px;
    letter-spacing: normal;
    column-gap: 80px;
}

.item {
    width: 350px;
}

.item__title {
    font-weight: 900;
    font-size: 24px;
   background-color: var(--color-silver);
}

.item__text {
    width: 370px;
    height: 84px;
    color: -- ;
    font-weight: 400;
    font-size: 18px;
    justify-content: flex-start;
}

hr {
    size: 1px solid #BABBC5;
    width: 950px;
}