* {
    box-sizing: border-box;
}

hr {
    size: 1px solid var(--color-silver);
    width: 85%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
a {
    text-decoration: none;
}