.btn {
    border-style: none;
    position: relative;
    top: 50%;
    left: 40%;
    background: #FF4343;
    width: 370px;
    height: 80px;
}

.btn__item {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
