.download{
    width: 100%;
   text-align: center;
   margin: 150px 0;
}
.download__title{
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin: 0 0 -4px 0;
}
.download__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 45px;
}