.features {
    display: flex;
    flex-wrap: wrap;
    margin: 116px 0;
    justify-content: center;
}

.features__item {
    text-align: center;
    width: 30%;
    padding: 0 54px;
    margin: 38px 0;
}

.features__title {
    font-weight: 900;
    font-size: 24px;
    color: #2D3033;
    text-transform: uppercase;
}

.features__text {
    color: var(--color-silver);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}